# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
 
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env    

.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.local.backup
.env.test.local.backup.2
.env.test.local.backup.3
.env.test.local.backup.4
.env.test.local.backup.5
.env.test.local.backup.6
.env.test.local.backup.7
.env.test.local.backup.8

.cursor/rules/db-schema-wq.mdc

auth.users.md
profiles.md
games.md
institution.md
*.csv
csv/
*.py